In [1]:
import pandas as pd
import os.path  as osp

In [2]:
source_file = '../source/owid-covid-data.xlsx'

In [4]:
df = pd.read_excel(source_file)

In [7]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [8]:
df.iloc[:5, :5]

  iso_code continent     location        date  total_cases
0      AFG      Asia  Afghanistan  2020-02-24          5.0
1      AFG      Asia  Afghanistan  2020-02-25          5.0
2      AFG      Asia  Afghanistan  2020-02-26          5.0
3      AFG      Asia  Afghanistan  2020-02-27          5.0
4      AFG      Asia  Afghanistan  2020-02-28          5.0

In [16]:
locations = df[['iso_code', 'continent', 'location']].copy()

In [17]:
locations.drop_duplicates()

        iso_code continent           location
0            AFG      Asia        Afghanistan
647     OWID_AFR       NaN             Africa
1305         ALB    Europe            Albania
1951         DZA    Africa            Algeria
2597         AND    Europe            Andorra
...          ...       ...                ...
134396       WLF   Oceania  Wallis and Futuna
134649  OWID_WRL       NaN              World
135329       YEM      Asia              Yemen
135930       ZMB    Africa             Zambia
136554       ZWE    Africa           Zimbabwe

[237 rows x 3 columns]

In [18]:
locations.columns = ['iso_code', 'continent', 'name']
locations['location'] = locations['iso_code'].str.lower()

In [19]:
locations = locations.drop_duplicates()

In [21]:
locations = locations.set_index('location').sort_index()

In [22]:
locations

         iso_code      continent          name
location
abw           ABW  North America         Aruba
afg           AFG           Asia   Afghanistan
ago           AGO         Africa        Angola
aia           AIA  North America      Anguilla
alb           ALB         Europe       Albania
...           ...            ...           ...
wsm           WSM        Oceania         Samoa
yem           YEM           Asia         Yemen
zaf           ZAF         Africa  South Africa
zmb           ZMB         Africa        Zambia
zwe           ZWE         Africa      Zimbabwe

[237 rows x 3 columns]

In [23]:
locations.to_csv('../../ddf--entities--location.csv')

In [34]:
datapoints = df.drop(['continent', 'location'], axis=1).copy()

In [35]:
datapoints.dtypes['date']

dtype('O')

In [36]:
datapoints['location'] = datapoints['iso_code'].str.lower()

In [37]:
datapoints['date_'] = datapoints['date'].map(lambda x: x.replace('-', ''))

In [38]:
datapoints = datapoints.drop(['iso_code', 'date'], axis=1)

In [39]:
datapoints = datapoints.set_index(['location', 'date_'])

In [40]:
datapoints.iloc[:5, :5]

                   total_cases  new_cases  new_cases_smoothed  total_deaths  \
location date_
afg      20200224          5.0        5.0                 NaN           NaN
         20200225          5.0        0.0                 NaN           NaN
         20200226          5.0        0.0                 NaN           NaN
         20200227          5.0        0.0                 NaN           NaN
         20200228          5.0        0.0                 NaN           NaN

                   new_deaths
location date_
afg      20200224         NaN
         20200225         NaN
         20200226         NaN
         20200227         NaN
         20200228         NaN

In [41]:
datapoints.index.names = ['location', 'date']

In [42]:
for c in datapoints.columns:
    fname = osp.join('../../', f'ddf--datapoints--{c}--by--location--date.csv')
    df[c].dropna().to_csv(fname)